@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  --oxford-blue: #171C2Eff;
  --robin-egg-blue: #22E0E3ff;
  --rich-black: #111526ff;
  --steel-pink: #DD15C9ff;
  --heliotrope: #D171F1ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
